.cart-item-card {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 1rem;
     /* border: 2px solid red; */
}

.cart-item-card>img {
     width: 5rem;
     height: 5rem;
}

.product-detail {
     padding: .5rem 1rem;
}

.product-detail>h1 {
     text-transform: capitalize;
     font-size: 1.5rem;
     margin: 0px;
     padding: 0px;
}

.product-detail>p {

     font-size: .8rem;
     margin: 0px;
     padding: 0px;
}

.item-price,
.total-item-price {
     padding: .5rem 1rem;
}

.item-price>span,
.total-item-price>span {
     padding-right: .2rem;
}

.order-count {
     display: flex;
     /* flex-direction: column; */
     align-items: center;
     justify-content: center;
}

.order-count>span {
     /* background-color: #ffffff; */
     border: 1px solid gray;
     padding: .8rem .5rem;
     margin: .2rem .5rem;
}

.order-count>button {
     width: 2rem;
     aspect-ratio: 1;
     border: none;
     font-size: 1.5rem;
     text-align: center;
     cursor: pointer;
     background-color: transparent;
     transition: all .1s linear;
     opacity: .5;
}

.order-count>button:hover {
     opacity: 1;
}

.delete-item {
     background-color: #016eff;
     border: none;
     color: #ffffff;
     /* margin-left: auto; */
     padding: .7rem 1.5rem;
     cursor: pointer;
          border: 2px solid red;
}

h5 {
     padding: .2rem 2rem;
}


@media only screen and (max-width: 750px) {

     /* .order-count{
     flex-direction: column;
} */
     .item-price,
     .total-item-price {
          font-size: .5rem;
          padding: .5rem .3rem;

     }

     .cart-item-card>img {
          width: 2rem;
          height: 2rem;
     }

     .product-detail {
          padding: .5rem .3rem;
          width: 4rem;
     }

     .product-detail>h1 {
          font-size: .6rem;
     }

     .product-detail>p {
          line-height: 6px;
          font-size: .4rem;
     }

     .order-count>span {
          /* background-color: #ffffff; */
          border: 1px solid gray;
          padding: .5rem .3rem;
          margin: .1rem .2rem;
     }

     .delete-item {
          background-color: #016eff;
          
          border: none;
          color: #ffffff;
          /* margin-left: auto; */
          font-size: .5rem;
          padding: .4rem .5rem;
          cursor: pointer;
          border: 2px solid red;
     }
}